/* Fonts */

/* Use a value from 100 to 900 */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.azeret-mono-bold {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: bold;
}
.azeret-mono-semi-bold {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

/* Header section Start*/

/* Nav Section Start */

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 35px auto;
    height: 10%;
}
nav h3{
    font-size: 28px;
}
.btn{
 
    width: 248px;
    height: 60px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    padding: 18px 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  
}
.btn:hover{
    background-color: #d5fc72;
    color: #000000;
    border: 2px solid #d5fc72;
    transform: scale(1.1);
 
  
}
.btn a{
   color: #000000;
   text-decoration: none;
}
.btn a:hover{
   color: #000000;
}

/* Nav Section End */

/* Hero-Section Start */

.hero-bg{
width: 100%;
height: 652px;
left: 0;
right: 0;
background: url(../assets/Hero-bg.png);
}
.profile-pic{
display: block;
padding-top: 26px;
margin: auto;
}
@media screen and (min-width: 1450px){
.hero-heading{
    width: 60%;
    font-size: 48px;
    text-align: center;
    color: #0D1321;
    margin: 32px auto;
}
}
@media screen and (max-width: 1450px){
.hero-heading{
    width: 70%;
    font-size: 48px;
    text-align: center;
    color: #0D1321;
    margin: 32px auto;
}
}
@media screen and (min-width: 1450px){
.hero-description{
    width: 48%;
    font-size: 16px;
    text-align: center;
    color: #0D1321;
    margin: 0px auto;
    padding: 0px 73px;
}
}
@media screen and (max-width: 1450px){
.hero-description{
    width: 65%;
    font-size: 16px;
    text-align: center;
    color: #0D1321;
    margin: 0px auto;
    padding: 0px 73px;
}
}
@media screen and (min-width: 1450px){
.hero-btn{
 
    width: 320px;
    height: 66px;
    font-size: 28px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 32px auto;
    margin-bottom: 28px;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 0px;
    padding: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}  
}
@media screen and (max-width: 1450px){
.hero-btn{
 
    width: 208px;
    height: 54px;
    font-size: 20px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 38px auto;
    text-align: center;
    padding: 21px 24px;
    padding-bottom: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;   
}  
}
.hero-btn:hover{
    background-color: #790bb0;
    color: #ffffff;
    border: 2px solid #790bb0;
    transform: scale(1.1);
}
.hero-bg a{
   color: #ffffff;
   text-decoration: none;
}



/* Header section End*/



/* Main Section */

/* Intro Section Start */
.main-title{

font-size: 32px;
text-align: center;
margin-bottom: 0px;
}
.main-description{
    padding-top: 24px;
    padding-bottom: 48px;
    width: 852px;
    margin: auto;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
}

.container{
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 48px;
    margin-bottom: 32px;
}

.container-paragraph{
    display: flex;


}
.container-title{
width: 390px;
height: 72px;
font-size: 24px;
font-weight: 700;
opacity: 0.7;
margin-bottom: 0px;
padding-bottom: 0px;

}
.container-descreption{
margin-top: 0px;
padding-top: 0px;
width: 468px;
height: 52px;
font-size: 16px;
opacity: 0.7;
}
.container-title-2{
width: 470px;
height: 72px;
font-size: 24px;
font-weight: 700;
opacity: 0.7;
margin-bottom: 0px;
padding-bottom: 0px;

}
.container-btn{
    width: 150px;
    height: 32px;
    font-size: 20px;
    color: #0D1321;
    border: 1px solid #0D1321;
    margin-top: 32px;
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;    
}
.container-btn:hover{
    background-color:  #d5fc72;
    color: #000000;
    border: 2px solid   #d5fc72;
    transform: scale(1.1);
}
.container a{
   color: #000000;
   text-decoration: none;
}

/* Intro Section End */


/* Inspiration Section Start */
.inspiration-title{

font-size: 32px;
text-align: center;
margin-bottom: 0px;
}
.inspiration-description{
    padding-top: 24px;
    width: 1100px;
    margin: auto;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
}
.video-card{
    display: flex;
    width: 1110px;
    height: 582px;
    border-radius: 16px;
    border: 1px solid #0D1321;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 149px;
    justify-content: center;
    align-items: center;


}
.video-card iframe{
    border-radius: 16px;
}

/* Inspiration Section End */

/* Target Section Start */


/* Target Section End */


/* Support Section Start */
.support{
display: flex;
margin: auto;
width: 1110px;
height: 313px;
border-radius: 16px;
background:url(../assets/handshake.jpg);
background-repeat: round;
justify-content: center;
align-items: center;
justify-content: space-around;
}

.support input[type="text"]{
    flex-direction: start;
    width: 550px;
    height: 60px;
    padding-left: 20px;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background-color: white;
    border: none;
}
.support-btn{
    display: inline;
    width: 150px;
    height: 60px;
    font-size: 20px;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
    padding: 18px 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  
}
.support-btn:hover{
    background-color: #d5fc72;
    color: #000000;
    border: 2px solid #d5fc72;
    transform: scale(1.1);
 
  
}
/* Support Section End */


/* Footer Section */
footer{

    width: 1200px;
    height: 90px;
    margin: 80px auto;
    margin-bottom: 20px;
    background-color: #e9e9e9;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: none;
    border-top-left-radius: none;


    
}
.footer-data{
    display: flex;
    width: 1050px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    display: flex;
    flex-direction: start;
    font-size: 24px;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.contact img{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

/* Footer Section End */